@model ListagemNotasAPI.Models.DTO.Note

@{
    ViewBag.Title = "Apagar";
}

<h2>Apagar</h2>

<h3>Você quer realmente excluir essa nota?</h3>
<div>
    <h4>Nota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">
            @(ViewBag.Error)
        </div>
    }
</div>
